 <a href="" id="top"></a>
<div class='contain-to-grid shadowless sticky'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href="index.html">
            <img alt="" src="/images/logo.png" />
          </a>
        </h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href='#'>Menu</a>
      </li>
    </ul>
    <section class='top-bar-section'>
      <ul class="right">
        
          
            
          

          
            <li class="">
              <a href="{{ site.url }}/{{ site.baseurl }}index.html">Home</a>
            </li>
          
        
          
            
          

          
            <li class="active">
              <a href="{{ site.url }}/{{ site.baseurl }}about.html">About</a>
            </li>
          
        
          
            
          

          
            <li class="">
              <a href="{{ site.url }}/{{ site.baseurl }}services.html">Services</a>
            </li>
          
        
          
            
          

          
            <li class="has-dropdown ">
              <a href="{{ site.url }}/{{ site.baseurl }}portfolio.html">Portfolio</a>
              <ul class='dropdown'>
                
                  <li>
                    <a href="{{ site.url }}/{{ site.baseurl }}portfolio.html">Portfolio</a>
                  </li>
                
                  <li>
                    <a href="{{ site.url }}/{{ site.baseurl }}portfolio-item.html">Portfolio item</a>
                  </li>
                
              </ul>
            </li>
          
        
          
            
          

          
            <li class="">
              <a href="{{ site.url }}/{{ site.baseurl }}contact.html">Contact</a>
            </li>
          
        
          
            
          

          
            <li class="">
              <a href="{{ site.url }}/{{ site.baseurl }}blog/index.html">Blog</a>
            </li>
          
        
      </ul>
    </section>
  </nav>
</div>