<a href="" id="top"></a>
<div class='contain-to-grid shadowless sticky'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href="{{'/' | prepend: site.baseurl  }}">
            <img alt="" src="{{'/images/logo.png' | prepend: site.baseurl}}" />
          </a>
        </h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href='#'>Menu</a>
      </li>
    </ul>
    <section class='top-bar-section'>
      <ul class="right">
        
          
            
          
            {% for item in site.data.nav.header %}
            
            <li {% if item.url == page.url %} class="active" {% else %}{% endif %} >
              <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          

          
        
          
            
          

          

          
        
      </ul>
    </section>
  </nav>
</div>